---
title:  Gallery
layout: layouts/page.liquid
---
<p>All of these sub pages are just supposed to be examples of what you could do, you're definitely encouraged to mess
  around with them and come up with something better</p>
