---
title: Gallery
layout: layouts/page.liquid
---
<script>
$(document).ready(function() {

  // required elements
  var imgPopup = $('.img-popup');
  var imgCont  = $('.gallery-item');
  var popupImage = $('.img-popup img');
  var closeBtn = $('.close-btn');

  // handle events
  imgCont.on('click', function() {
    var img_src = $(this).children('img').attr('src');
    imgPopup.children('img').attr('src', img_src);
    imgPopup.addClass('opened');
  });

  $(imgPopup, closeBtn).on('click', function() {
    imgPopup.removeClass('opened');
    imgPopup.children('img').attr('src', '');
  });

  popupImage.on('click', function(e) {
    e.stopPropagation();
  });
  
});
</script>

<div class = "gallery">
{% for item in collections.gallery %}
   <div class = "gallery-item">
        <img src="{{ item.data.images[0] }}" width="300" alt="{{ item.data.title }} title="{{ item.data.title }}">
   </div>
  {% endfor %}
</div>

<div class="img-popup">
  <img src=" " alt="Popup Image">
  <div class="close-btn">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>

