---
title: Gallery
layout: layouts/page.liquid
---


<div class = "gallery">
{% for item in collections.gallery %}
   <div class = "gallery-item">
        <img src="{{ item.data.images[0] }}" width="300" alt="{{ item.data.title }} title="{{ item.data.title }}">
   </div>
  {% endfor %}
</div>

<div class="img-popup">
  <img src=" " alt="Popup Image">
  <div class="close-btn">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>

