---
title: Blog
layout: layouts/page.liquid
eleventyExcludeFromCollections: true
---

{% for item in collections.blog %}
<div>
    <h2> {{ item.data.title }} </h2>
    <p class="authorNotes-date">posted on {{ item.data.date | utcDate }}</p>
    {{ item.content }}

</div>
{% endfor %}